* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {font-family: Montserrat, sans-serif;}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

img {max-width: 100%}

button,
input {
    background-color: white;
    outline: none;
}

.title {
    font-size: 2.5vw;
    margin: 2.083vw 0 1.5625vw 0;
    text-transform: uppercase;
}

.paragraph {
    font-size: .9375vw;
    margin: 0 0 2.083vw 0;
    line-height: 180%;
}

.btn {
    font-weight: 500;
    font-size: .9375vw;
    border: 1px solid black;
    padding: .52083vw 1.875vw;
    border-radius: .3125vw;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: initial;
}

.btn:hover {
    /*color: black;*/
    transition: .8s ease all;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.highlight {
    font-weight: bold;
    color: #617D91;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 85vh;
}

.photo {
    position: absolute;
    width: 59.375vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    right: 0;
    background-size: 100% 100%;
    clip-path: polygon(0 62%, 24% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 0 72%, 0 68%, 0 65%);
    filter: grayscale(50%);
}

.photo__layout {
    position: absolute;
    width: 59.375vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 1;
    clip-path: polygon(0 62%, 24% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 0 72%, 0 68%, 0 65%);
}

.hooper {
    height: 7.2916vw !important;
    outline: none !important;
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        display: block;
        height: initial;
    }
    .photo {
        width: 100%;
        height: 73.2421875vw;
        clip-path: none;
        top: 10.7421875vw;
        z-index: 0;
        border-radius: 1.46484375vw;
        filter: grayscale(0%);
    }
    .photo__layout {display: none;}
    .title {
        font-size: 4.6875vw;
        margin: 12.6953125vw 0 0 0;
    }
    .paragraph {
        font-size: 1.7578125vw;
        margin: 4.1015625vw 0 0 0;
    }
}

@media only screen and (max-width: 480px) {
    .photo {
        height: 156.25vw;
        top: 25vw;
    }
    .photo_main {
        position: static;
    }
    .title {
        font-size: 7vw;
        margin: 12.6953125vw 0 0 0;
    }
    .paragraph {
        font-size: 4vw;
        margin: 4.1015625vw 0 0 0;
    }
    .btn {padding: 1.5vw 5vw;}
}

@keyframes Hide {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes Show {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes ShiftLeft {
    from {
        position: relative;
        right: 15.625vw;
        opacity: 0;
    }
    to {
        position: relative;
        right: 0;
        opacity: 1;
    }
}

@keyframes ShiftRight {
    from {
        position: absolute;
        right: -62.5vw;
        opacity: 0;
    }
    to {
        position: absolute;
        right: 0;
        opacity: 1;
    }
}

/*@@@ INDEX @@@*/
.main {overflow: hidden;}
.preview {
    width: 32%;
    padding: 0 0 0 3%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.preview__desc {
    height: 13.5416vw;
    font-size: .9375vw;
    line-height: 180%;
}
.preview__wrapper {
    display: flex;
    align-items: center;
}
.preview__controller {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: absolute;
    top: 40%;
    right: 3%;
    z-index: 4;
    font-size: .9vw;
    color: white;
    font-weight: 600;
}
.controller__item {
    margin: 0 0 1.2vw 0;
    cursor: pointer;
    text-align: right;
}
.preview__hint {
    display: flex;
    position: absolute;
    top: 31.25vw;
    left: 88.5416vw;
    z-index: 3;
}
.hint__text {
    width: 8.85416vw;
    padding: 7.2vw 0 0 0;
    font-size: .72916vw;
    color: white;
    transform: rotate(270deg);
}
.hint__icon {height: 8.85416vw;}
.production {
    position: relative;
    padding: 0 0 0 3%;
    z-index: 0;
    margin: 0 0 2vw 0;
}
.production__title {
    font-size: 1.4583vw;
    margin: 0 0 1.875vw 0;
}
.slider {
    width: 50% !important;
    overflow-x: hidden;
}
.slider__item {
    width: 14.5vw;
    height: 7.2916vw;
    cursor: pointer;
    margin: 0 1.875vw 0 0;
    border-radius: .52083vw;
}

/*@@@ INDEX MEDIA @@@*/
@media only screen and (max-width: 1024px) {
    .preview {
        width: 60%;
        z-index: 1;
        color: white;
    }
    .preview__title {margin: 12.6953125vw 0 0 0;}
    .preview__desc {
        height: 24.4140625vw;
        font-size: 1.7578125vw;
        margin: 4.1015625vw 0 0 0;
    }
    .preview__wrapper {margin: 0;}
    .preview__link {
        font-size: 1.5625vw;
        padding: 1.3671875vw 4.1015625vw;
    }
    .preview__controller {
        font-size: 1.6vw;
        top: 45vw;
        display: flex;
        flex-flow: column nowrap;
    }
    .controller__item {
        margin: 0 0 2vw 0;
    }
    .production {
        position: static;
        margin: 27.34375vw 0 0 0;
    }
    .production__title {
        font-size: 2.734375vw;
        margin: 0 0 3.125vw 0;
    }
    .slider {
        width: 100% !important;
        overflow-x: hidden;
        margin: 0 0 2.083vw 0;
    }
    .hooper {height: 13.671875vw !important;}
    .slider__item {
        width: 29.296875vw;
        cursor: pointer;
        margin: 0 1.875vw 0 0;
        border-radius: .52083vw;
        height: 13.671875vw !important;
    }

    @media only screen and (max-width: 480px) {
        .mobile__slider {
            display: flex;
            flex-flow: column nowrap;
        }
        .mobile__slider > .photo {order: 1; height: 73.2421875vw;}
        .mobile__slider > .production {order: 2;}
        .mobile__slider > .preview {order: 3;}
        .mobile__slider > .footer {order: 4; padding: 0 5%;}
        .mobile__slider > .hooper {height: 16vw !important;}
        .production {
            margin: 5vw 0 0 0;
            padding: 0 5%;
        }
        .production__title {font-size: 4.6vw;}
        .preview {
            height: initial;
            width: 100%;
            padding: 0 5%;
            color: black;
        }
        .preview__controller {
            font-size: 4vw;
            top: 55vw;
        }
        .preview__hint {display: none;}
        .preview__desc {
            height: initial;
            font-size: 4.6vw;
        }
        .preview__wrapper {margin: 5vw 0 0 0;}
        .preview__link {
            font-size: 4.6vw;
            padding: 1.5vw 6vw;
            border-radius: 5px;
        }
    }
}

/*@@@ SHOP INDEX @@@*/
.catalog {
    display: flex;
    flex-direction: column;
    padding: 0 3% 0 3%;
    min-height: 84vh;
}
.catalog__title {
    display: flex;
}
.navigation,
.catalog__wrapper {
    display: flex;
    align-items: center;
}
.navigation {
    font-size: 1vw;
    flex-wrap: wrap;
}
.catalog__navigation {color: darkgray;}
.navigation__separator {margin: 0 .7vw;}
.products__basket {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1.5625vw 0;
}
.basket__img {
    width: 2.5vw;
    margin: 0 0 0 2vw;
}
.products__container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    font-size: 2vw;
}

/*@@@ PRODUCT COMPONENT @@@*/
.product {
    position: relative;
    width: 23%;
    margin: 0 2% 2.083vw 0;
}
.product__title {
    font-size: 1.14583vw;
    text-transform: uppercase;
    margin: 1.25vw 0 1.0416vw 0;
    padding: 0 2vw 0 0;
}
.product__desc {
    min-height: 6vw;
    font-size: .83vw;
    line-height: 150%;
}
.product__wrapper {
    display: flex;
    font-size: .9375vw;
    margin: 1.302083vw 0 1.5625vw 0;
}
.product__controls {
    display: flex;
    align-items: center;
}
.product__info {
    font-size: .83vw;
    color: #7D7D7D;
    margin: 0 0 0 1vw;
    cursor: pointer;
}
.product__img {
    width: 100%;
    background-size: cover;
    height: 15vw;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1vw;
}
.productfull {
    width: 52%;
    padding: 0 0 0 3%;
}
.productfull__colors {margin: 2.08vw 0 0 0;}
.colors__title {
    font-size: 1.45833vw;
    font-weight: bold;
    margin: 0 0 1.0416rem 0;
}
.colors__container {
    display: flex;
    align-items: center;
}
.colors__img {
    width: 1.875vw;
    height: 1.875vw;
    border-radius: 100%;
    margin: 0 1.458vw 0 0;
    cursor: pointer;
}
.productfull__specifications {
    width: max-content;
    display: flex;
    justify-content: space-between;
    padding: 0 0 1.3vw 0;
    margin: 0 0 2vw 0;
    border-bottom: .2vw solid #DADADA;
}
.specifications__item {
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    padding: inherit;
    cursor: pointer;
    position: relative;
    top: 1.5vw;
    margin: 0 2vw 0 0;
}
.specifications__item_active {
    color: #627E91;
    border-bottom: .2vw solid #627E91;
}
.productfull__img {
    position: fixed;
    width: 45vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    right: 0;
    background-size: 100% 100%;
    clip-path: polygon(0 62%, 24% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 0 72%, 0 68%, 0 65%);
}
.productfull__desc {
    font-size: 1vw;
    margin: 0 0 2.083vw 0;
    line-height: 180%;
}
.productfull__price {font-size: 1.14583vw;}
.productfull__btn {
    width: max-content;
    text-align: center;
    margin: 1.5vw 0 2vw 0;
}
.productfull__warning {
    margin: 3vw 0 0 3%;
    font-size: 2vw;
    min-height: 35vw;
}
.productfull__wrapper {
    min-height: 82vh;
}

/*@@@ SHOP-->BASKET @@@*/
.basket {padding: 0 3% 0 3%;}
.basket__wrapper {
    display: flex;
    justify-content: space-between;
}
.basket__products {
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 2.083vw 0 0 0;
}
.basket__products .product {
    width: 31%;
    margin: 0 2% 2.083vw 0;
}
.basket__products .product:nth-of-type(3n + 3) {margin-right: 0;}
.basket__payment {
    width: 35%;
    height: max-content;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    padding: 2.083vw 5% 5vw 5%;
}
.payment__title {
    font-size: 1.6vw;
    text-align: center;
    margin: 0 0 2.083vw 0;
}
.payment__field {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.0416vw 0;
}
.field__caption {
    font-size: 1.0416vw;
    color: #B0B0B0;
    margin: 0 0 .52083vw 0;
}
.field__input {
    padding: .72916vw 0;
    text-indent: 1.14583vw;
    border-radius: .3125vw;
    border: 1px solid #B0B0B0;
    font-size: 1.14583vw;
    color: #B0B0B0;
}
.field__input::-webkit-input-placeholder {color: #B0B0B0;}
.payment__wrapper {
    display: flex;
    align-items: center;
    margin: 1.302083vw 0 0 0;
}
.payment__btn {padding: .52083vw .7vw;}
.payment__info {
    font-size: .7vw;
    line-height: .7vw;
    margin: 0 0 0 .6vw;
}
.payment__amount,
.payment__delivery,
.payment__total {
    font-size: 1.14583vw;
    margin: 0 0 1.0416vw 0;
}
.product__icon {
    width: 1vw;
    position: absolute;
    top: 16.4vw;
    left: 17.6vw;
    cursor: pointer;
}

/*@@@ SHOP-->BASKET MEDIA @@@*/
@media only screen and (max-width: 1024px) {
    .basket .title {margin: 3vw 0 3vw 0;}
    .basket__products {
        width: 60%;
        justify-content: space-between;
    }
    .basket__products .product {
        width: 46%;
        margin: 0 2% 4.39453125vw 0;
    }
    .product__icon {
        width: 1.4vw;
        position: absolute;
        top: 27vw;
        left: 23.5vw;
        cursor: pointer;
    }
}

@media only screen and (max-width: 480px) {
    .basket__wrapper {flex-direction: column;}
    .basket__products {width: 100%;}
    .basket__products .product {
        width: 100%;
        margin: 0 0 12vw 0;
    }
    .basket__payment {width: 100%;}
    .payment__title {font-size: 4.6vw;}
    .payment__field {margin: 0 0 3vw 0;}
    .field__caption {
        font-size: 3.6vw;
        margin: 0 0 1vw 0;
    }
    .field__input {
        font-size: 3.6vw;
        text-indent: 2vw;
        padding: 1.5vw 0;
    }
    .payment__amount,
    .payment__delivery,
    .payment__total {
        font-size: 3.6vw;
        margin: 0 0 1.5vw 0;
    }
    .payment__wrapper {
        flex-direction: column;
        align-items: center;
        margin: 5vw 0 0 0;
    }
    .payment__btn {
        font-size: 4vw;
        padding: 2vw 5vw;
        margin: 0 0 3vw 0;
    }
    .payment__info {
        font-size: 3vw;
        line-height: initial;
        margin: 0 0 3vw 0;
    }
    .product__icon {
        width: 5vw;
        position: absolute;
        top: 63vw;
        left: 88vw;
        cursor: pointer;
    }
}

/*@@@ SHOP INDEX MEDIA @@@*/
@media only screen and (max-width: 1024px) {
    .catalog .title {margin: 3vw 0 3vw 0;}
    .catalog__products {width: 100%;}
    .navigation {font-size: 2vw;}
    .products__basket {margin: 0 0 3.90625vw 0;}
    .basket__img {width: 6vw;}
    .products__container {justify-content: space-between;}
    .product {
        width: 44%;
        margin: 0 0 4.39453125vw 0;
    }
    .product__title {
        font-size: 1.7578125vw;
        padding: 0 3vw 0 0;
    }
    .product__desc {font-size: .9765625vw;}
    .product__wrapper {font-size: 1.3671875vw;}
    .product__btn {font-size: 1.171875vw;}
    .product__info {font-size: .9765625vw;}
    .product__img {height: 25vw;}
    .productfull {
        padding: 0 3% 0 3%;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .productfull__colors {margin: 3vw 0 3vw 0;}
    .colors__title {
        font-size: 3.2vw;
        font-weight: bold;
        margin: 0 0 1.0416rem 0;
    }
    .colors__container {flex-wrap: wrap;}
    .colors__img {
        width: 6vw;
        height: 6vw;
        margin: 0 3vw 0 0;
    }
    .productfull__specifications {
        justify-content: initial;
        padding: 0 0 1vw 0;
        margin: 3vw 0 6vw 0;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .specifications__item {
        font-size: 3vw;
        top: 1vw;
        margin: 0 3.5vw 0 0;
        min-width: max-content;
    }
    .productfull__wrapper {
        min-height: initial;
        position: static;
    }
    .productfull__img {
        position: static;
        width: 100%;
        height: 55vw;
        clip-path: none;
        z-index: 0;
        border-radius: 1vw;
        top: -12.6953125vw;
    }
    .productfull__title,
    .productfull__desc,
    .productfull__price,
    .productfull__btn {
        position: relative;
        z-index: 1;
    }
    .productfull__desc {font-size: 2vw;}
    .productfull__price {font-size: 2.4vw;}
    .productfull__btn {
        width: 10%;
        font-size: 1.5625vw;
        padding: 1.3671875vw 4.1015625vw;
        margin: 5vw 0 0 0;
    }
}

/*@@@ SHOP INDEX MEDIA @@@*/
@media only screen and (max-width: 480px) {
    .product {
        width: 100%;
        margin: 0 0 12vw 0;
    }
    .navigation {font-size: 3vw;}
    .products__container {font-size: 4.6vw;}
    .basket__img {width: 12vw;}
    .product__title {
        font-size: 4.6vw;
        padding: 0 8vw 0 0;
    }
    .product__desc {
        height: initial;
        font-size: 3.6vw;
    }
    .product__wrapper {
        font-size: 4vw;
        margin: 2.5vw 0;
    }
    .product__btn {font-size: 4vw;}
    .product__info {
        font-size: 3.6vw;
        margin: 0 0 0 3vw;
    }
    .product__img {height: 60vw;}
    .colors__title {
        font-size: 4.6vw;
        margin: 0 0 3vw 0;
    }
    .colors__img {
        width: 12vw;
        height: 12vw;
        margin: 0 5vw 0 0;
    }
    .productfull__desc {font-size: 4.2vw;}
    .productfull__price {font-size: 4.6vw;}
    .productfull__btn {
        width: 20%;
        font-size: 4.6vw;
        padding: 2.5vw 8vw;
        margin: 8vw 0 0 0;
    }
    .specifications__item {
        font-size: 4.6vw;
    }
}
