* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

img {max-width: 100%}

button,
input {
    background-color: white;
    outline: none;
}

.title {
    font-size: 2.5vw;
    margin: 2.083vw 0 1.5625vw 0;
    text-transform: uppercase;
}

.paragraph {
    font-size: .9375vw;
    margin: 0 0 2.083vw 0;
    line-height: 180%;
}

.btn {
    font-weight: 500;
    font-size: .9375vw;
    border: 1px solid black;
    padding: .52083vw 1.875vw;
    border-radius: .3125vw;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: initial;
}

.btn:hover {
    color: #B0B0B0;
    transition: .5s ease all;
    border: 1px solid #B0B0B0;
}

.highlight {
    font-weight: bold;
    color: #617D91;
}

@keyframes Hide {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes Show {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes ShiftLeft {
    from {
        position: relative;
        right: 15.625vw;
        opacity: 0;
    }
    to {
        position: relative;
        right: 0;
        opacity: 1;
    }
}

@keyframes ShiftRight {
    from {
        right: -62.5vw;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

.hooper{
    height: 7.2916vw !important;
    outline: none !important;
}
